.FullPost {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    box-sizing: border-box;
}

.Heading {
    width: 80%;
    padding: 24px;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li,
ul p,
ul a {
    word-wrap: break-word;
}

.ProfImg {
    width: 200px;
    border-radius: 50%;
    margin-right: 24px;
}

.tab {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    font-size: 1em;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
button.tablinks:hover {
    background-color: #ddd !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 80%;
    padding: 24px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 0px auto;
    margin-top: 72px;
    box-sizing: border-box;
}

#Repo {

    display: block;
}

.tablinks[name *="Repo"] {
    background-color: #eee;
}

@media (max-width: 600px) {
    .Heading {
        width: 100%;
        margin: 0px auto;
    }

    .ProfImg {
        width: 100px;
        border-radius: 50%;
        margin-right: 24px;
    }

    .tabcontent,
    .tab {
        width: 100%;
    }
}