.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #808080;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000;
}

.searchTerm:focus {
    color: #000;
    font-weight: 800;
}

.searchButton {
    text-decoration: none;
    width: 40px;
    height: 36px;
    border: 1px solid #808080;
    background: #A9A9A9;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 40%;
    position: fixed;
    top: 36px;
    left: 50%;
    margin-bottom: 30%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .wrap {
        width: 80%;
    }
}